.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
    column-gap: 2rem;
    padding: 3rem 20%;
    justify-content: space-between;
}

.container h3.title{
    font-size: 3rem;
    font-family: "Microsoft JhengHei";
    color: var(--color-main-1);
    margin:1rem 0;
}

.container a{
    color:var(--color-gray-1);
    margin: 1.2rem 0;
}

@media only screen and (max-width: 480px) {
    .container{
        padding: 3rem 5%;
    }
}