@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.header {
    display: flex;
    flex-direction: column;
    max-height: 35rem;
    position: relative;
}

.header article {
    position: absolute;
    color: #fff;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20%;
}

.header h1 {
    font-size: 4rem;
    font-family: "Acme", sans-serif;
}

.header h2 {
    font-size: 2.5rem;
    font-family: "Acme", sans-serif;
}

.header .contact {
    align-self: end;
    display: flex;
}
.header .contact a {
    line-height: 1rem;
    color: #fff;
    padding: 1rem;
    margin: 0 0.25rem;
    font-size: 3rem;
    border-radius: 0.5rem;
}

.header .contact a:hover {
    color: #000;
    background-color: #fff;
}

.header > div {
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(
        to left top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
    );
}

.header > div img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header > nav {
    margin-top: auto;
    background-color: var(--color-main-1);
}

.header > nav > ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header > nav > ul > li {
    color: #fff;
    margin: 1rem 0.5rem;
}

.header > nav > ul > li a:hover {
    background-color: #fff;
    color: var(--color-main-1);
}

.header > nav > ul > li > a {
    display: block;
    height: 100%;
    padding: 1rem;
    font-size: 2rem;
    white-space: nowrap;
    color: inherit;
    overflow: hidden;
    border-radius: 0.5rem;
}

.hamburger_control {
    display: none;
}

.hamburger_container {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    z-index: 100;
    background-color: #fff;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.3);
    padding:1rem;
    border-radius: 50%;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--color-main-1);
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger_control:checked ~ .hamburger_container .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger_control:checked ~ .hamburger_container .bar2 {
    opacity: 0;
}

.hamburger_control:checked ~ .hamburger_container .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 480px) {
    .header h1{
        font-size: 3rem;
    }
    .header h2{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .header article {
        text-align: center;
        transform: translateY(-50%);
    }
    .header .contact {
        margin-top: 2rem;
        align-self: center;
    }
    .header > nav {
        display: none;
        padding: 0 10%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: rgba(9, 186, 225, 0.9);
    }
    .header > nav > ul {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger_container {
        display: block;
    }
    .hamburger_control:checked ~ nav {
        display: block;
    }
}
